{% extends 'blog/base.html' %}

{% block title %}Блог{% endblock %}

{% block content %}

<div>
    {% for post in object_list %}
        <div style="border: 1px solid black; margin: 5px;">
            <div>
                <a href="{% url 'blog:post' pk=post.pk %}">{{ post.title }}</a>
            </div>
            <div>{{ post.text|truncatechars:30 }}</div>
            <div>{{ post.published_at }}</div>
            <div>{{ post.author }}</div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' with page_obj=page_obj %}
    {% endif %}
</div>

{% endblock %}
